<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/tasks/new">Add New Fruit</a>
    <h1>Welcome to the app!</h1>
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>
